.lighter-img {
  margin-top: 20px;
  border-radius: 50%;
  width: 20%;
  box-shadow: 5px 5px 5px black;
  border: 1px solid black;
}

.who-are-you-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.who-are-you-input-container button {
  width: 50%;
}

.who-are-you-input-container .input {
  width: 50%;
}

.intro-container{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}