.logs {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    border: 2px  solid black;
    margin-top: 20px;
}

.logs-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

.username
{
    font-weight: 700;
    color: blue;
}

.location {
    color: purple;
}

.log {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.log-message {
    margin-left: 5%;
    font-weight: 100;
    padding: 5%;
}


.log-info{
    display: flex;
    flex-direction: row;
}

.log-info div {
    margin: 2px;
}

.oneSectionOfLog {
    display: flex;
    align-items: left;
    justify-content: left;
    width: 100%;
}   


.date {
    font-weight: bold;
    color: black;
}

.border-bottom {
    border-bottom: 1px solid pink;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.message-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}