.who-created-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.who-created-text-container{
    font-size: 1.4em;
    color: white;
    max-width: 800px;
    margin: 20px;
}

.who-created-container h2 {
    font-size: 1.6em;
    text-align: center;
}