@keyframes appear {
    0% {
        height :0;
    }
    100% {
        height: auto;
    }
}

.button-container{
    display: flex;
    flex-direction: row;
    max-width: 700px;
    width: 100%;
    align-items: left;
    justify-content: space-around;
}

.button-container button{
    width: 30%;
}

.input.how{
    width: 90%;
    height: 200px;
    padding: 10px;
    max-width: 600px;
}