.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.button-container.location{
    align-items: center;
}

.input.location {
    width: 30%;
}

.map {
    border: 2px solid black;
    border-radius: 5%;
    margin-top: 5vh;
}

.button-container.location label{
    color: white;
}

.button-container.where {
    justify-content: center;
}

.map-canvas  {
    width: 400px;
    height: 400px;
}