.posts {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    max-width: 600px;
    border: 2px  solid black;
}

.posts-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}

.message {
    font-weight: 100;
    color: rgb(68, 67, 67);
}

.username {
    font-weight: bold;
}

.date {
    color: rgb(68, 67, 67);
}

.border-bottom {
    border-bottom: 1px solid pink;
    display: flex;
    flex-direction: column;
    padding: 5px;
}